<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--第一种启动注解（组件）扫描器-->
    <!--
        扫描priv.lint.beans这个包和它的子包下的所有加注解的类，并将这些类实例化成Bean放到容器中
        <context:component-scan base-package="priv.lint.beans"/>
        扫描priv.lint.beans的子包下的所有加注解的类，并将这些类实例化成Bean放到容器中
        <context:component-scan base-package="priv.lint.beans.*"/>
    -->
    <context:component-scan base-package="priv.lint.beans"/>

</beans>