<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
    SPEL 表达式注入。
    需求Per中的ID是1到100的随机数
    -->
    <bean id="per" class="priv.lint.Per">
        <property name="name" value="PER"/>
        <property name="id" value="#{T(Math).random()*100}"/>
    </bean>
    <!--
        将per的值给Student
        它是通过get的方式拿到per的数据然后通过set的方式给Student的
    -->
    <!--<bean class="priv.lint.Student">
        <property name="name" value="#{per.name}"/>
        <property name="age" value="#{per.id}"/>
    </bean>-->

    <!--
    也是拿per的数据，但是Student的age不可以大于30岁
    这里我们就可以使用三目运算符了
    -->
    <!--<bean class="priv.lint.Student">
        <property name="name" value="#{per.name}"/>
        <property name="age" value="#{per.id > 30 ? 30 : per.id}"/>
    </bean>-->

    <!--
    我们也可以在per类中定义一个方法然后通过SPEL表达式在这里进行使用
    -->
    <bean class="priv.lint.Student" >
        <property name="name" value="#{per.name}"/>
        <property name="age" value="#{per.toStudentAge()}"/>
    </bean>

</beans>